.cursor-particles-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  pointer-events: none;
  z-index: 5;
  overflow: hidden;
}

.cursor-particles-canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
